* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

}


/* code header */

.navbar{

    width: 100%;
    height: 80px;
    padding: 20px 8%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);

}
/* OVERLAY EXACT  DE L'IMAGE */
/* .image22::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.65) 40%,
        rgba(0,0,0,0.2) 70%,
        rgba(0,0,0,0) 100%
    );
    z-index: 1;
} */

/* SECTION TEXTE */

#texte {
    position: absolute;
    /* z-index: 2; */
    top: 10%;
    /* left: 5%; */
    transform: translateY(-50%);
    color: white;
    text-align: center;
    /* align-items: center; */

    /* max-width: 500px; */
    /* align-items: center; */
    margin: 20%;

}
/* TITRE */

#texte h1 span {
    color: #417eef; /* jaune */
}
#texte h1 {
    font-size:10%;
    text-align: center;
    /* margin: 50; */
    color: black;
}
#texte p {
    font-size: 120%;
    margin-top: 20px;
    /* margin-bottom: 60%; */
    text-align: center;
}



/* MENU DU SITE */
.fixation{
    /* background-color: white; */
    position: fixed;
    top: 4%;
    left: 10%;
    width: 100%;
    z-index: 1000;
    margin-left: 60%;
}

/*  */

/*  */
nav a{
    color: rgb(16, 16, 16);
    text-decoration: none;
    align-items: right;

}

nav ul{
    display: flex;
    gap: 4%;
    font-size: 110%;
    list-style: none;
    /* color: rgb(23, 23, 23); */
}

/* TEXTE */



/* BOUTON */
.btn{
    /* display: inline-block; */
    background: #417eef;
    color:white;
    /* text-align: center; */
    padding: 9px 29px;
    /* width: 100%; */
    height: 100%;
    border: none;
    border-radius: 5px;
    /* margin: 0%; */
    font-weight: bolder;
    /* margin-bottom: 20%; */
}
/* .btn:hover{
    background: black;
    color:white
} */
.btn a {
    text-decoration: none;
    color: white;
}



/* a{ */
    /* color: #ddd; */
    /* font-size: 100%; */
/* } */

/* .icon {
    width: 50px;
    height: 50px;
    border: 2px solid #f5c518;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}



.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 5%;
}


.logo-text{
    display: flex;
    line-height: 0.95;

}


.logo-text span{
    font-size: 25px;
    font-weight: 700;
    color: #417eef;
    letter-spacing: 0.5px;
    font-weight: bold;

}

.link ul {
    text-align: center;
    display: flex;
    list-style: none;
    padding: 8% 50px;

}

.link ul li{
    margin: 0 25px;
    list-style: none;
}


.link ul li a{

    position: relative;
    text-decoration: none;
    color: #171717;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;

}


.link ul li a:hover{

    cursor: pointer;
    background:#417eef;
    border-radius: 20px;
    padding: 15px;
    color: black;
    font-weight: bold;

}

/* fin code header */



/* section accueil */

.hero{
    min-height:750px ;
    background-image: linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 20px 60px;
}


.hero-content{
    max-width: 1000px;
    color: red;
}


.hero h1{
    color:white;
    font-size: 50px;
}
.hero h1 span{
    color: #1265d3;
}

.hero p{
    max-width: 850px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
    color:white;
}

.hero-btn{

    /* display: inline-block;
    padding: 17px 35px;
    background-color: #287bea;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease; */
    display: inline-block;
    background: #417eef;
    color: black;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;

}


.hero-btn:hover{

    background-color: #1265d3;
    transform: translateY(-2px);
}


/* fin section accueil */


/* Section produits */

/* pour la marge */
.container{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* fin marge */

.title h1{
    text-align: center;
    font-size: 70px;
}


.produits{
    width: 1200%;
    max-width: 1200px;
    margin: 0 auto ;
    padding: 120px 30px 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


.produits{
    background: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    padding-bottom: 25px;
}

.produits:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.14);

}

.produits img{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: contain;
    padding: 20px;
    background: #f5f7fa;
}

.produits imga:hover{

    transform: scale(1.05);
}


.produits h2{

    margin: 22px 22px 8px;
    font-size: 21px;
    font-weight: 700;
    color: #17263b;
    line-height: 1.3;
}

.produits p {
    margin: 8px 22px;
    font-size: 15px;
    line-height: 1.5;
    color: #777;
}


.produit p:last-of-type{

    margin-top: 15px;
    font-size: 21px;
    font-weight: 700;
    color: #287bea;
}

.produit button{

    margin: 15px 22px 0;
    padding: 11px 24px;
    border: none;
    border-radius: 7px;
    background: #287bea;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}


.produit button:hover{

    background: #125fc7;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(40, 123, 234, 0.25);
}
/* .produits {
    width: 90%;

    height: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.produit {
    background-color: rgb(254, 254, 253);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;

    width: 90%;
    height: 80%;
}

.produit img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    display: block;

}

.produit h2 {

    font-size: 20px;
    margin: 10px;
}

.produit p {
    margin: 10px ;
} */

/* fin section produits */

.btn1 {
    display: inline-block;
    background: #417eef;
    color:white;
    padding: 9px 29px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;

}
.btn1:hover{
    background: black;
}
/* FIN DE LA SECTION */



/* section equipez-vous */

.Equipement{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 19px;
    width: 95%;
    margin-left: 5%;
}
.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

#section2{
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* TEXTE SECTION 2 */
.Equipement h2{

    flex: 1;
    margin: 0 0 25px;
    font-size: 42px;
    line-height: 1.2;
    color: #17263b;
}

.Equipement p{
    max-width: 600px;
    margin: 0;
    font-size: 18px;
    line-height: 1.7;
    color:#17263b;
    text-align: center;
}




/* fin section equipez-vous */





/* 4e Section */
h4{
    text-align: center;
    font-size: 370%;
    margin-bottom: 1%;
}
p {
    /* text-align: center; */
    font-size: 150%;
    /* margin-bottom: 35%; */
}
.icone h3 {
    font-size: 120%;
    text-align: left;
    margin-top: 10px;
    margin: 10%;
}

.icone p {
    font-size: 100%;
    text-align: left;
    /* margin: 10px 0; */
    margin: 10%;
}
#section4{
    display: flex;
    /* gap: 1%; */
    /* text-align: right; */
    /* justify-content: space-between; */
    text-align: center;
    margin: auto;
    /* background: white; */
    border-radius: 13%;
    /* background-color: #0066ff; */
    height: 90%;
    width: 100%;
    /* grid-template-columns: repeat(3, 1fr); */
}
/* #section3:last-child{ */
    /* border-right: 10%; */
/* } */
.icone{
    /* display: grid; */
    /* gap: 90%; */
    background-color: rgb(254, 254, 253);
    border: 1px solid #ddd;
    border-radius: 20px;

    width: 30%;
    /* height: 92%; */

    margin:auto;


}
.icone img{
    width: 23%;
    /* object-fit: contain; */
    height: 65%;
    background: #eaf3ff;
    padding: 15px;
    border-radius: 40%;

    /* margin:auto; */
    /* margin-bottom: 1%; */
}


/* SECTION 3 */

#section3 {
    background: #000512fc;
    width: 100%;
    text-align: center;
    height: 990%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
#section3 p{
    text-align: center;
    color: white;
    font-size: 80%;
    margin-bottom: 5%;

}
#section3 h1{
    /* text-align: cente    r; */
    color: white;
    font-size: 300%;
    font-weight: normal;

}
#section3 button{
    /* display: inline-block; */
    background: #417eef;
    color:white;
    /* text-align: center; */
    padding: 9px 29px;
    /* width: 100%; */
    height: 100%;
    border: none;
    border-radius: 5px;
    /* margin: 0%; */
    font-weight: bolder;
    /* margin-bottom: 20%; */
}

#section3 a {
    text-decoration: none;
    color: white;
}
/* #section4 .section4-text p{
    text-align: center;
    color: white;
    font-size: 120%;
    margin-bottom: 96%;
} */




/* Footer */

.footer{

    width: 100%;
    background-color: #ffffff;

}

/* newsletter */

.newsletter{

    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border-bottom: 1px solid #eeeeee;
}


/* icone enveloppe */


.newsletter-icon{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 70px;
    color: #222;
}


/* zone contenat le champ+bouton et champ email et bouton*/


.newsletter-form{

    margin-left: auto;
    width: 590px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.newsletter-form input{

    flex: 1;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #eeeeee;
    outline: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
}
.newsletter-form input::placeholder{
    color: #888
}


.newsletter-form button{

    width: 155px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color:  #417eef;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 600px;
    font-weight: bold;
    cursor:pointer;

}

.newsletter-form:hover{

    transform: translateY(-2px);
}


/* contenu principal du footer */

.footer-content{

    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
    display: grid;
    background-color: #fffdfd;
    grid-template-columns:

    1.9fr
    1fr
    1fr
    1fr
    1.5fr
    ;

    gap: 35px;
    padding: 40pxpx 7%;
    border-radius: 1px solid #eeeeee;

}

/* titres */

.footer-column h2{
    font-size: 22px;
    margin-bottom: 8px;


}



.footer-column h3{
    font-size: 14px;
    margin-bottom: 20px;
}


/* listes */

.footer-column ul{
    list-style: none;
}

.footer-column ul li{
    margin-bottom: 12px;

}

.footer-column ul li a{
    text-decoration: none;
    color:#444;
    font-size: 16px;
}

.footer-column ul li a:hover{
    color: #417eef;
}


/* colonne Arman */

.boutique h2{

    font-size: 20px;
    font-weight: 700;
    color:#222 ;
    margin-bottom: 2px;


}




.boutique h5{
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 30px;
}


/* icÃ´ne rÃ©seaux */

.social-links{

    display: flex;
    align-items: center;
    gap: 22px;
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #222;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.social-links a:hover{

    color: #417eef;
    transform: translateY(-2px);
}

/* logo entreprise */

.brand{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.brand-icon{

    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#417eef;
    color:white;
    border-radius: 8px;
    font-size: 18px;
}

.brand-name h2{

    margin: 0;
    font-size: 20px;
    line-height: 1.1;
    color: #222
}

.brand-name .boutique{
    display: block;
    font-size: 11px;
    color: #555;
    margin-bottom: 20px;
}


/* colonne shop */

.footer-column h3 {
    margin: 0 0 20px 0;

    font-size: 15px;
    font-weight: 600;

    color: #222;
}


.footer-column ul {
    margin: 0;
    padding: 0;

    list-style: none;
}


.footer-column ul li {
    margin-bottom: 13px;
}


.footer-column ul li a {
    font-size: 13px;

    color: #555;

    text-decoration: none;

    transition: 0.3s;
}


.footer-column ul li a:hover {
    color: #417eef;
}


.footer-column h3 {
    margin: 0 0 20px 0;
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 13px;
}

.footer-column ul li a {
    font-size: 13px;
    color: #555;
    text-decoration: none;
    transition: 0.3s;
}

.footer-column ul li a:hover {
    color: #417eef;
}


/* =====================================
   MOYENS DE PAIEMENT
===================================== */

.payment-methods {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 18px 15px;

    align-items: center;

    margin-top: 5px;
}


/* IcÃ´nes */

.payment-methods span {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    height: 30px;

    font-size: 28px;

    color: #222;
}


/* Mobile Money */

.payment-methods .mobile-money {
    font-size: 11px;

    font-weight: 600;

    white-space: nowrap;
}


/* bas footer */


.footer-bottom{
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0 7%;
}


/* copyright */

.footer-bottom p{
    margin: 0;
    font-size: 12px;
    color: #666;
}


/* devise */
.currency{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #444;

}

/* barre entre rdc et usd */
.currency span{
    color:#aaa;
    font-size: 14px;
}

h6 a{
  text-decoration: none;
  color: #9b9999;
}


/* fin footer */



/* PAGE BOUTIQUE */

.title_boutique h1{
    text-align: center;
    font-size: 300%;
    margin-top: 20px;
}

/* PAGE BOUTIQUR */
.title_boutique p{
    font-size: 150%;
    text-align: center;
    margin: 0%;
}
.title_boutique span{
    color:#0066ff;
}
/*PAGE PANIER */






/* ========================================
   2. MENU / NAVIGATION
======================================== */

.fixation {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background-color: white;

    display: flex;
    align-items: center;

    padding: 0 50px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

    z-index: 1000;
}

.menu {
    display: flex;
    gap: 35px;

    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #222;

    font-size: 16px;
    font-weight: 500;

    transition: 0.3s;
}

.menu li a:hover {
    color: #007bff;
}



   /*  FORMULAIRES DES BOUTONS */





/* ========================================
   9. BOUTONS + ET -
======================================== */

.grotte{
    display: flex;
    gap: 1%;
}

.btn3 {
    display: flex;
    margin-top: 15px;

    padding: 4px 20px;

    background-color: #417eef;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 15px;
    cursor: pointer;
}

.btn2X {
    display: flex;
    margin-top: 15px;

    padding: 4px 20px;

    background-color: red;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 15px;
    cursor: pointer;
}



/* Effet au passage de la souris */
.btn3:hover {
    transform: scale(1.05);
}

.btn2X:hover {
    transform: scale(1.05);
}
































/* ARTICLE DU PANIER */
.panier {
    width: 100%;
    padding-top: 110px;
    padding-bottom: 60px;
}

.panier h1{
    text-align: center;
    font-size: 300%;

}
.panier p{
    margin: 0%;
    text-align: center;
    font-size: 150%;
}
.panier span{
    color: #0066ff;
}
.article_panier {
    width: 90%;
    max-width: 1000px;
    margin: 25px auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.10);
}


/* IMAGE DU PRODUIT */

.article_panier > div:first-child {
    width: 180px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.article_panier img {
    width: 150px;
    height: 130px;

    object-fit: contain;

    display: block;
}


/* DETAILS DU PRODUIT */

.detail {
    flex: 1;
}

.detail h2 {
    margin: 0 0 15px 0;

    font-size: 22px;
    color: #222;
}


/* Paragraphes Prix et QuantitÃ© */

.detail p {
    margin: 8px 0;

    font-size: 16px;
    color: #555;
}


/* BOUTON COMMANDER */

.btn2 {
    margin-top: 15px;

    padding: 10px 20px;

    background-color: #417eef;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 15px;
    cursor: pointer;
}


/* Effet quand on passe la souris */

.btn2:hover {
    background-color: black;
}


/*LIEN CONTINUER VOTRE ACHAT*/

.detail a {
    display: inline-block;

    margin-top: 15px;

    color: #0066ff;

    text-decoration: none;

    font-size: 15px;
}


/* Effet souris */

.detail a:hover {
    text-decoration: underline;
}


/* /* MOBILE */

@media (max-width: 700px) {

    .article_panier {
        width: 94%;

        flex-direction: column;

        text-align: center;

        gap: 15px;
    }

    .article_panier > div:first-child {
        width: 100%;
        height: 140px;
    }

    .article_panier img {
        width: 140px;
        height: 120px;
    }

    .detail {
        width: 100%;
    }

    .detail h2 {
        font-size: 19px;
    }

    .btn2 {
        width: 100%;
    }

    .detail a {
        margin-bottom: 5px;
    }
}
